<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/bootstrap.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="stylesheet" href="/stylesheet/show.css">
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
  <title>Restaurant-List</title>
</head>
<body>
  {{{ body }}}
  <script src="/javastript/popper.js"></script>
  <script src="/javastript/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/76aaf60adc.js" crossorigin="anonymous"></script>
  <script src="/javascripts/sort.js"></script>
</body>
</html>